body {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.section:nth-child(2n) {
    background-color: #f4f4f4;
   
}


.section {
    margin-bottom: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.section-heading {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: red;
    color: white;
    text-align: center;
    margin: 50px auto 50px;
    padding: 0 20px;
    display: inline-block;
}


a {
    color: #000;
    text-decoration: none;
}

p {
    margin: 0 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: none;

}

h1 {
    font-size: 42px;
    line-height: 50px;
    font-style: normal;
    letter-spacing: 0.04em;
    text-align: left;
}

h3 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h4 {
    color: red;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}

.big-heading {
    margin-top: 12px;
}

.topline {
    font-weight: 400;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.topline-bold {
    font-weight: 700;
}
.top-container {
   
    position: absolute;
    height: 40px;
    width: 130.5px;
    right:40px;
    top: 65px;
    border-radius: 0px;

}

 .container { 
    position: relative;
    max-width: 960px;
    width: 92%;
    display: block;
    margin-right: auto;
    margin-left: auto;
 } 

 .portfolio-container {
    width: 360px;
 }

.header {
    background-image: url('./images/coffe.jpg');
    height: 520px;
    background-position-x: 100%;
    background-size: cover;
    position: relative;

    }

.header-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    float: right;
    margin-top: 80px;
}

.header-name {
    color:#fff;
    margin-top: 150px;
}  

.big-heading-portfolio {
    color: black;
    position: absolute;    
    font-size: 40px;
    font-weight: 700;
    font-family:'Monstserrat', sans-serif;
    margin-top: 121px;
    right: 131px;
    width: 220px;
    height: 202px;

} 

.intro-text-group {
    padding: 110px 0 80px;
    text-align: left;

}

.intro-text {
    text-indent: 110px;
}

.intro-text-group::before {
    position: absolute;
    top: 122px;
    content: "";
    width:  90px;
    height: 3px;
    background-color: red;
}

.intro-text-group::after {
    position: absolute;
    content: "";
    top: 116px;
    left:  75px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;

}

.tech-heading {
    font-family: Monsterat, sans-serif;
    font-size: 22px;
    font-style: bold;
    line-height: 27px;
    font-weight: 700;
    background-color: red;
    color: white;
    text-align: center;
    margin-left: 147px;
    width: 82px;
    height: 26px;
}   


.tech-more {
    text-align: left;
    padding-bottom: 90px;
}

.tech-item {
    padding-bottom: 40px;
    color: red;
}


article {
    padding-bottom: 60px;
    width: 49%;
    text-align: left;
}

.project-item {
    position: relative;
    margin-bottom: 20px;
}

.project-item::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.35;
    top: 0;
    left: 0;
    right: 0;
    bottom: 7px;
    z-index: 1;
}

.project-heading {
    font-size: 22px;
    font-weight: 700;    
    background-color: red;
    color: white;
    text-align: center;
    margin-left: 69px;
    top: 41px;
    width: 255px;
    height: 26px;
}


.project-image {

    max-width: 100%;
    
}

.project-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    color:white;
    z-index: 2;
}

.project-tags {
    display: flex;    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: black;
    text-align: center;
    width: 70px;
    height: 16px;
}

.tags {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
}


.tag-item {
    background-color: #ccc;
    display: inline;
    padding: 5px 15px;
    margin-right: 10px;
    color: black;
}


.columns {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  column-gap: 2%;
  margin-bottom: 80px;
}

footer {
    padding: 50px;
    color: white;
    text-align: center;
    background-color: goldenrod;
}




@media screen and (min-width: 1024) {
    .container {
        width: 1200px;   
    }  
}
    
@media screen and (min-width:860px) {
    .footer {
        width: 768px;
    }   
}

@media screen and (min-width: 767px) {
   
    .project-item {
    width: 100%;
    column-gap: 0;

    }
}

@media screen and (max-width:767px) 
    {
    article {
        width: 100%;
    }
    .columns {
        column-gap: 0;

    }
}


.thoughts h4 {
    text-transform: none;
    color: black;
}

.thoughts-more {
    text-align: left;
}

.date {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.skills-item {
    width:  32%;
}


.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3.875rem;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.social-list-white {
    justify-content: right;
    padding-top: 45px;
    margin-bottom: -35px;
}

.social-item {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border:  3px solid red;
    margin: 0 15px;
}

.social-item-white {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:  2px solid white;
    margin: 0 5px;
}

.social-item-linkedin {
    background-image: url("./images/linkedin.svg");
    width: 41px;
    height: 50px;
    margin: 16px 18px auto;
    background-repeat: no-repeat;
    background-size: contain; 
}

.social-item-github {
    background-image: url("./images/github.svg");
    width: 42px;
    height: 50px;
    margin: 16px 17px auto;
    background-repeat: no-repeat;
    background-size: contain; 
}

.social-item-stack {
    background-image: url("./images/stack.svg");
    width: 38px;
    height: 50px;
    margin: 17px 18px auto;
    background-repeat: no-repeat;
    background-size: contain; 
}

.social-item-linkedin-white {
    background-image: url("./images/linkedin-white.svg");
    width: 23px;
    height: 25px;
    margin: 7px 10px auto;
    background-repeat: no-repeat;
    background-size: contain; 
}

.social-item-github-white {
    background-image: url("./images/github-white.svg");
    width: 29px;
    height: 50px;
    margin: 5px 6px auto;
    background-repeat: no-repeat;
    background-size: contain; 
}

.social-item-stack-white {
    background-image: url("./images/stack-white.svg");
    width: 20px;
    height: 20px;
    margin: 9px 11px auto;
    background-repeat: no-repeat;
    background-size: contain; 
}
